<%= form_for(edutype, html: { class: "form-inline" }) do |f| %>
  <% if edutype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edutype.errors.count, "error") %> prohibited this edutype from being saved:</h2>

      <ul>
      <% edutype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
