<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Site:</strong>
  <%= @place.site %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @place.postal_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @place.fax %>
</p>

<p>
  <strong>Permission code:</strong>
  <%= @place.permission_code %>
</p>

<p>
  <strong>Edutype:</strong>
  <%= @place.edutype %>
</p>

<p>
  <strong>Amea:</strong>
  <%= @place.amea %>
</p>

<p>
  <strong>Trainee capacity:</strong>
  <%= @place.trainee_capacity %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @place.county %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
